body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h2{
    font-size: 28px;
    color: #0c5a29;
}

.nav-container {
    background-color: white;
    padding: 30px 0;
    border-bottom: #0c5a29 solid;
    display: flex;
    justify-content: space-evenly;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    text-align: center;
}

.logo {
    width: 170px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    gap: 25px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 15px;
    font-size: 23px;

}
.nav-links a:hover{
    color: #0c5a29;

}

.banner {
    position: relative;
    width: 100%;
    height: 400px; /* Ajusta la altura según lo necesites */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.banner-content {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo para que el texto sea legible */
    padding: 20px;
    border-radius: 10px;
    font-size: large;
}

.banner img {
    filter: blur(3.5px);
}

.banner-2 h2{
    text-align: right;
    padding: 10px 20px;
    font-size: 35px;
}

#img-banner  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: inherit;
    transform: translate(-50%, -50%);
}

.nosotros-container {
    width: 70%;
    margin: 0px auto;
    margin-top: 70px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: justify;
    flex-wrap: wrap;
}

.nosotros-container p {
    font-size: larger;
}
.mision-container {
    width: 70%;
    margin: 0px auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: justify;
    flex-wrap: wrap;
    font-size: larger;
}

.container-ubication {
    width: 50%;
    background-color: #0c5a29;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    text-align: center;
    padding-bottom: 60px;
}

.container-ubication h2{
    color: white;
    font-size: 27px;
}

.product-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    text-align: center;
}

.product-container-2 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0;
}

.product-container-2 h2{
    text-align: center;
}


.product-card{
    display: inline-block;
    width: 250px;
    margin: 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-around;
}

.product-card-2 {
    width: 30%;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block; /* o puedes quitarlo si no necesitas sobrescribir */
}


.service-card{
    display: inline-block;
    height: 450px;
    width: 350px;
    margin: 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-content: space-between;
}

.product-card img, .service-card img, .certification-card img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.product-card-2 img{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}

.product-card-2 a{
    
}

.industry-card{
    display: inline-block;
    height: 460px;
    width: 350px;
    margin: 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-content: space-between;
}

.industry-card img{
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.contacto {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0  auto;
    gap: 10px;
}

.container-productos{
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    text-align: center;
    flex-wrap: wrap;
    gap:auto ;

}

.container-productos img{
    width: 250px;
    height: 200px;
    scale: 100%;    
}

.container-productos2 img{
    width: 250px;
    height: 100px;
    scale: 100%;    
}

.banner-gris{
    width: 100%;
    height: 80px; /* Ajusta la altura según lo necesites */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4 ;
    font-size: 26px;
    margin: 20px auto;
}


.nosotros{
    font-size: 25px;
}
form input {
    height: 30px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form textarea{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 180px;
}

button {
    background-color: #0e6b31;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0c5a29;
    cursor: pointer;
}

footer {
    background-color: #0c5a29;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-top: 2px black solid;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-logo img{
    height: 100px;
}

.footer-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: auto;
}

.footer-info div {
    display: flex;
    align-items: center;
    margin: -10px 0;
    font-size: 22px;
}

.footer-info img {
    height: 20px;
    margin-right: 10px;
}

