* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    line-height: 1.4; /* Mejora la legibilidad de los textos */
    overflow-x: hidden;
}

h2 {
    font-size: 28px;
    color: #0c5a29;
    margin-bottom: 20px; 
}

/* ---------------navbar-------------------- */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta el espacio */
    flex-wrap: wrap;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 10px 20px;
    background-color: white;
    width: 100%;
    border-bottom: #0c5a29 solid thick;
}
.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: auto;
    gap: 1em;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 8px; 
    font-size: 1.5rem
}

.nav-links a:hover{
    color: #0c5a29;
    
}

/* ---------------- DROPDOWN ------------------ */

/* Contenedor principal */
.dropdown {
    position: relative;
    display: inline-block;
    align-content: center;
    margin-right: 70px;
}

.dropdown-menu{
    align-items: center;
}

/* Contenido del menú */
.dropdown-content {
    margin-left: 30px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 10px 16px rgba(0,0,0,0.2);
    z-index: 1;
    align-content: center;
}

.dropdown-content img{
    height: 40px;
    margin: 0px;
}

/* Estilos de los enlaces */
.dropdown-content a {
    color: black;
    padding: 8px 20px; 
    text-decoration: none;
    display: block;
}

/* Hover sobre enlaces */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Mostrar el menú cuando se pasa el mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

.drop-content1 {
    height: 60px;
}
.drop-content2 {
    height: 35px;
}

/* --------------------------- */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    text-align: center;
}

.logo {
    width: 170px;
}


/* ----------------presentation------------------------- */
.banner {
    position: relative;
    width: 100%;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.banner-content {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo para que el texto sea legible */
    padding: 0 30px;
    border-radius: 20px;
}


#img-banner  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: inherit;
    transform: translate(-50%, -50%);
}

/* ---------------------------carrusel2------------------ */
.carrusel-2-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #f9f9f9;
  border-top: 2px solid #0e6b31;
  border-bottom: 2px solid #0e6b31;
}

.carrusel2 {
  display: inline-block;
  animation: deslizar 46s linear infinite;
}

.slide {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: #0e6b31;
  font-weight: bold;
}

@keyframes deslizar {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* -------------------carrusel---------------------------- */
.carrusel {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 400px;
}

.carrusel ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: calc() ;
    height:80%;
    animation: slide 20s forwards infinite;
}

.carrusel li {
    list-style: none;
    width: 100%;
    height:80%;
    position: relative;
    flex-shrink: 0;
}

.carrusel img {
    width: 100%;
    height:450px;
    object-fit: fill;
    flex-shrink: 0;
}

.carrusel-text {
    width: 800px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.60);
    max-width: 80%;
}

.carrusel-text h1 {
    font-size: 2rem;
    line-height: 1.4;
}

.banner-2 h2 {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

@keyframes slide {
    0%   {transform: translateX(0);}
    10%  {transform: translateX(0);}
    20%  {transform: translateX(-100%);}
    30%  {transform: translateX(-100%);}
    40%  {transform: translateX(-200%);}
    50%  {transform: translateX(-200%);}
    60%  {transform: translateX(-300%);}
    70% {transform: translateX(-300%);}
    80%  {transform: translateX(-400%);}
    100% {transform: translateX(-400%);}
}

.banner-2 h2{
    text-align: center;
    padding: 10px 20px;
    font-size: 35px;
}

.nosotros-container {
    width: 70%;
    margin: 0px auto;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: justify;
    flex-wrap: wrap;
}

.nosotros-container p {
    font-size: larger;
}
.mision-container {
    width: 70%;
    margin: 0px auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: justify;
    flex-wrap: wrap;
    font-size: larger;
}

.container-ubication {
    width: auto;
    max-width: 50%;
    background-color: #0c5a29;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    text-align: center;
    padding-bottom: 60px;
}

.container-ubication h2{
    color: white;
    font-size: 27px;
}

iframe{
    width: 600px;
    height: 450px;
    border: 0;
}

/* ------------------------productos-------------------- */

.product-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    text-align: center;
}

.product-card {
    display: inline-block;
    height: auto;
    width: auto;
    margin: 10px 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.2s ease-in; /* Transición conjunta */
    align-content: space-between;
}
.service-card, .industry-card {
    display: inline-block;
    height: auto;
    width: 202px;
    margin: 10px 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.2s ease-in; /* Transición conjunta */
    align-content: space-between;
}

.product-card:hover, .service-card:hover, .industry-card:hover {
    transform: translateY(-20px); /* Efecto de elevación */
    box-shadow: 0px 0 10px rgb(0, 0, 0, 0.6);
}

.product-card img {
    width: 230px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.service-card img, .industry-card img {
    width: auto;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.product-card h3, .service-card h3{
    text-align: center;
    font-size: medium;
    margin: 5px 0;
}
.product-card p, .service-card p{
    text-align: center;
    margin: 10px 0;
}

.product-card a{
    text-decoration: none;
    color: white;
}

.product-card button, .service-card button{
    margin: 10px 0;
}

.industry-wrap, .service-wrap{
    display: flex;
    flex-wrap: wrap;
}
/* -----------------------banner4-------------------------------- */
.banner-4-section {
    background-color: #084721;
    color: white;
    text-align: center;
    padding: 40px 10px;
    margin: 20px 0;
}

.banner-4-section h2 {
    width: auto;
    text-align: center;
    font-size: 40px;
    color: wheat;
    
}

.banner-4-button {
    display: inline-block;
    background-color: white;
    color: #0e6b31;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.banner-4-button:hover {
    background-color: #2a6f46;
    color: wheat;
}
/* ---------------------------------------------------------   */

/* -------------------------productos.html------------------------------------ */

.product-container-2 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.product-container-2 h2{
    text-align: center;
}

.product-card-2 {
    display: inline-block;
    height: auto;
    width: 220px;
    margin: 10px 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    align-content: space-between;
}

.product-card-2 a{
    color: white;
    font-size: larger;
    text-decoration: none;
}

.product-card-2 img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card-2 p{
    margin: 15px;
}

.contacto {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0  auto;
    gap: 10px;
}

.container-productos{
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    text-align: center;
    flex-wrap: wrap;
}

.container-productos img{
    width: 250px;
    height: 200px;
    scale: 100%;    
}

.container-productos :hover  img{
    transform: scale(120%);
    transition: .3s;
}


.container-aplicaciones {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f6f6f6;
    border-left: 6px solid #0e6b31;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
    font-size: larger;

  }
  
  .container-aplicaciones:hover {
    transform: scale(1.06);
  }
  
  .container-aplicaciones h2 {
    color: #0e6b31;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .container-aplicaciones p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .lista-servicios {
    text-align: left;
    margin: 0 auto;
    padding-left: 20px;
    list-style-type: disc;
    font-size: 1em;
    max-width: 800px;
    line-height: 1.6;
  }
  
  .lista-servicios li {
    margin-bottom: 10px;
  }
  
  
  .lista-aplicaciones-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
    margin-top: 60px;
  }
  
  .categoria {
    text-align: left;
  }
  
  .categoria ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .imagen-aplicacion img {
    height: 150px;
    width: auto;
  }
  
.container-productos2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px ;
}
.container-productos2 img{
    width: 250px;
    height: 100px;
    scale: 100%;    
}

.nosotros{
    font-size: 25px;
}

/* ------------------------form---------------------- */
form input {
    width: auto;
    height: 30px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form textarea{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 180px;
}

button {
    background-color: #0e6b31;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: #015521;
    cursor: pointer;
    color: wheat;
    transition: 0.3s;
    transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
}

button a:hover{
    color: wheat;
}
/* --------------------------------------------------------- */

/* ------------------------footer--------------------------- */
footer {
    width: 100%;
    background-color: #0c5a29;
    color: white;
    text-align: center;
    padding: 0px;
    margin-top: 40px;
    border-top: 2px black solid;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Mejor separación */
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0; /* Ajusté el padding */
}


.footer-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-logo img{
    height: 100px;
}

.footer-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info div {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.footer-info a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 22px;
}

.footer-info a:hover{
    color: wheat;
    transform: scale(1.02);
}

.footer-info img {
    height: 20px;
    margin-right: 10px;
}

/* ---------------------grid extension----------------------- */
.grid-extension{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


/* ---------------------Responsive----------------- */
@media (max-width: 769px) {

    .nav-links {   
        /* flex-direction: column;
        align-items: center; */
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 columnas */
        gap: 0.5em;
        justify-items: center; /* centra los enlaces en cada columna */
    }

    .nav-links a{
        font-size: 20px;
    }
    
    .carrusel-text h1 {
        font-size: 1.5rem; 
    }
    
    .banner {
        height: 300px; 
    }
    
    .banner-content {
        padding: 20px;
    }

    .contacto{
        width: 60%;
    }

    form {
        width: auto;
    }
    form h2 {
        font-size: 2rem;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0px;
    }
    .footer-info div, .footer-info a, .footer-info p {
        font-size: 18px;
        justify-content: center;
      }
}

@media (max-width: 426px) {
    .nav-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        /* max-width: 1200px; */
        margin: 0 auto;
        padding: 10px 20px;
        background-color: white;
        width: 100%;
        border-bottom: #0c5a29 solid thick;
    }

    .nav-links{
        display: flex;
        flex-wrap: wrap; /*permite que se acomoden si no hay espacio */
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    
    .nav-links a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        /* padding: 10px 15px; */
        white-space: nowrap;
        /* font-size: 10px; */
        flex: 1 1 45%; /*dos columnas con algo de espacio */
        text-align: center;
    }


    .logo {
        width: 90px;
    }

    .dropdown-menu{
        display: flex;
        position: absolute;
        top: -125px;
        left: 300px;
    }

    .dropdown-content{
        position: absolute;
        top: -85px;
        left: 250px;
    }

    .dropdown-content a{
        padding: auto 10px;
    }

    .dropdown-content img {
        height: 30px;
        width: 60px;
    }

    .drop-content1{
        height: 30px;
    }
    .drop-content2{
        height: 25px;
    }

    .product-card{
        width: 180px;
    }
    .product-card img{
        height: 100px;
        width: 100px;
    }
    .service-wrap,.industry-wrap{
        flex-direction: column;
    }

    .service-card, .industry-card{
        width: auto;
        height: auto;

    }
    .service-card img,.industry-card img{
        height: 200px;
        width: 200px;
    }

    .product-card-2{
        width: auto;
        height: auto;
    }

    .product-card-2 img{
        height: 100px;
    }
}

@media (max-width: 386px){

    .nav-links a{ 
        font-size: 16px;
    }


    .dropdown-content img {
        height: 20px;
        width: 40px;
    }
    
    .product-card{
        width: 160px;
    }

    .product-card img{
        height: 120px;
        width: 120px;
    }
    
    .service-wrap,.industry-wrap{
        flex-direction: column;
    }

    .service-card, .industry-card{
        width: auto;
        height: auto;

    }
    .service-card img,.industry-card img{
        height: 200px;
        width: 200px;
    }
        .product-card-2{
        width: 200px;
        height: auto;
    }

    .product-card-2 img{
        height: 100px;
        width: 100px;
    }

    .container-ubication{
        max-width: 90%;
    }
    iframe{
        width: 300px;
        height: 300px;
    }

    .footer-logo{
        margin: 10px 0;
    }
    .footer-logo img{
        height: 70px;
    }
}


/* ------------------------------------------------------------------- */